body
{
	margin:0;
	padding:0;
}

@import 'partials/responsive.scss';
@import 'partials/menu-button.scss';


/*home*/

.home
{
    max-width: 100%; 
    margin: 0 auto;
    position: relative;
    padding:0;

}

.img-home
{

    margin: 0 auto;
    display: block;
    position: relative;

}

/*social-icon*/
.social-icon
{
    position:absolute;
    top:0;
    right:15px;
}
.social-icon a
{
    text-decoration:none;
    text-align:center;
    color:#fff;
}

.social-icon a:hover
{
 
    background:rgba(22,116,173,0.5)
    
}

/*text home*/

.text-home
{   
    font-family: arial;
    display: inline-block;
    position: absolute;
    bottom:0px; /* position will be on bottom */
    left:0px;
    width:100%;
    color: #ffffff;
    text-align:center;
    vertical-align: middle;
    top: 30%;

}



.text-home span
{
    color:#1674ad;
}

.scroll-btn
{
    font-family: arial;
    display: inline-block;
    position: absolute;
    bottom:3%; /* position will be on bottom */
    left:47%;
    width:auto;
    vertical-align: middle;

}

.scroll-btn .scroll-img
{
    width:46px;
    height:49px;
    margin:0 auto;
}

.scroll-btn:hover
{
    animation-name: scroll-btn;
    animation-duration:0.7s;
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-iteration-count: infinite;    
}

@keyframes scroll-btn {
    0%   {bottom:3%;}
    50% {bottom:5%;}
    100% {bottom:3%;}

}

/*about*/


.full-text-about
{
    padding:10px;
}
.title-about
{
    color:#1674ad;
    font-family:arial;
    font-weight:bold;
    border-bottom: solid 1px #1674ad;
    padding-bottom:10px;
    text-align:center;
    width:50%;
    margin: 0 auto;

}

.text-about
{
    color:#555154;
    font-family:arial;
    margin: 0 auto;
    padding:10px;

}


.btn-d
{
    width:200px;
    margin: 0 auto;
}
.btn-download
{
    border-radius: 2px;
    background-color:#1674ad;
    box-shadow:1px 1px 1px rgba(0,0,0,0.5);
    border:none;
    height:50px;
    width:200px;
    color:#fff;
    font-family:arial;
    cursor:pointer;
    &:hover,
    &:focus
    {
    background-color:#116a9f;
    }
}



.img-about
{
    width:50%;
    margin:0 auto;
}


/*service*/

.service
{
    background-image: url("../../img/service.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:10px;
    display: table;  
    position:relative;
    width:100%;
}


.title-service
{
    color:#fff;
    font-family:arial;
    font-weight:bold;
    border-bottom: solid 1px #fff;
    padding-bottom:10px;
    text-align:center;
    margin: 0 auto;
}

.service span
{
    color:#1674ad;
}


.service-container
{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    height: auto;
    display: table;  

}


.text-service
{
    color:#fff;
    text-align:center;
    font-family:arial;
    padding-top:10px;
}

/*work*/

.work
{
    display: table;  
    position:relative;
    width:100%;
    margin: 0 auto;
    margin-top:30px;

}

.title-work
{
    color:#1674ad;
    font-family:arial;
    font-weight:bold;
    border-bottom: solid 1px #1674ad;
    padding-bottom:10px;
    text-align:center;
    width:25%;
    margin: 0 auto;
    font-size:30px;

}

.btn-work-row
{
    max-width:1000px;
    margin:0 auto;
    text-align:center;
    margin-top:10px;
}

.btn-work-row button
{

    border-radius: 2px;
    border:solid 1px #555154;
    height:30px;
    color:#555154;
    font-family:arial;
    cursor:pointer;
    background:none;
    &:hover
    {
    background:#555154;
    color:#fff;
    border:none;
    }
    &:focus,
    {
        background-color:#1674ad;
        color:#fff;
        border:none;
        box-shadow:1px 1px 1px rgba(0,0,0,0.5);
        &:hover
        {
        background-color:#116a9f;
        }
    }
}

.img-work-row
{
    max-width:1000px;
    margin:0 auto;
    text-align:center;
    margin-top:10px;    
}

.img-work
{
    padding:10px;
}


/*contact*/


.contact
{
    display: table;  
    position:relative;
    width:100%;
    margin: 0 auto;
    margin-top:50px;
    background-color:#f6f6f6;
    padding:10px;

}
.text-contact
{
    color: #000;
    font-size: 12px;
    font-family: arial;
    padding:5px;
}

.contact form
{
    padding: 15px;
    max-width:1000px;
    margin:0 auto;
    display:table;
    possition:relative;
}



input[type=text]
 {
    background-color:none;
    margin: 5px;
    color: #000000;
    padding: 16px ;
    text-decoration: none;
    cursor: pointer;
    margin: 8px 0;
    box-sizing: border-box;
    border: solid 1px rgba(0,0,0,0.1);

}

input[type=button]{
    background-color:#1674ad;
    border: none;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    padding-top: 10px;

}
input[type=button]:hover 
{
        background-color:#116a9f;
}

      #map {
        width: 100%;
        height: 400px;
        background-color: grey;
        margin-top: 50px;
      }


/*map*/
#map
{
    margin-top:0;
    border-top:solid 5px #1674ad ;
    border-bottom:solid 5px #1674ad ;

}







