$width-bar:40px;
$width-bar-click:50px;
$height-bar:2px;
$margin-bar:5px;
$margin-container:15px;

@mixin animation($Time:0.2s)
{
	-webkit-transition:  $Time; 
	-o-transition:  $Time; 
	-moz-transition:  $Time; 
    transition:  $Time;
}

/*menu*/
.menu-container
{
	display: inline-block;
	position:fixed;
	margin:$margin-container;
	margin-left:30px;
    cursor: pointer;
    z-index:100;
}

@for $bar from 1 through 4
{
	.bar#{$bar}
	{
	width: $width-bar;
    height: $height-bar;
    background-color: #fff;
    margin: $margin-bar;
    @include animation;	
	}

	@if $bar == 1
	{
	.bar#{$bar}
	  {
	    margin-top:0px;
	  }	
	}

	@if $bar % 2 == 0
	{

	.bar#{$bar}
	  {
        margin-left:15px;
	  }
      
      .menu-container:hover > .bar#{$bar}
      {
        margin-left:0px;
      } 


	}
	@else
	{
      .menu-container:hover > .bar#{$bar}
      {
        margin-left:15px;
      }
    }

    @if $bar==2
    {
    .change .bar#{$bar}
      {
       background-color: #1674ad;
       width:$width-bar-click;
      }
    }
      @else
      {
       .change .bar#{$bar}
        {
         opacity:0;
        }
      }

    


	



   
   

}


/*menu*/

.modal {
    position: fixed; 
    z-index: 99; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0); 
    display:none;
    margin:0;
}


/* Modal Content */
.modal-content {
    position: absolute;
    left:0;
    background-color: #fefefe;
    padding: 0;
    width: 100%;
    height:60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-duration: 1s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-200%; opacity:1} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-200%; opacity:1}
    to {top:0; opacity:1}
}




/*MENU TEXT*/
.menu-name
{
	text-align:center;
	color:#1674ad;
	font-family:arial;
}

.links
{
	text-align:center;
	position:absolute;
	width:100%;
}
.links a
{
	color:#1674ad;
	font-family:arial;
	text-decoration:none;
    &:hover
    {
    color:#0e5e8e;
    }
}


/*social icon menu */
.social-icon-menu
{
    position:absolute;
    bottom:10%;

}
.social-icon-menu a
{
    text-decoration:none;
    text-align:center;
    color:#fff;
}

.social-icon-menu a:hover
{
 
    background:rgba(22,116,173,0.5)
    
}



.link-page::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #1674ad;
    transition: width .3s;
}

.link-page:hover::after {
    width: 100%;
    transition: width .3s;
}



