img 
{
    width: 100%;
    height: auto;
}
* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
}


.row::after {
    content: "";
    clear: both;
    display: table;

}

@media only screen and (max-width: 600px) {

/* For mobile phones: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .display
    {
    display:none;
    }



/*text-home*/
    .text-home-1
     {
    font-size:12px;
    margin-bottom:20px;

     }

     .text-home-2
    {
    font-size:16px;
    }


   /*text about*/
   .title-about
    {
        font-size:20px;

    }

    .text-about
    {
       font-size:12px; 
    }


    /*service*/
    .title-service
    {font-size:20px;}


    /*text-service*/

    .service
    {
    height: 250px; 
    }
    .title-service
    {
    font-size:20px;
    width:40%;
    }
    .text-service
    {
    font-size:12px;
    }


   /*work*/
   .btn-work-row button
   {
   width:80px;
   font-size:10px;
   }
      .title-work
    {
        font-size:20px;
        width:40%;


    }



      /*menu*/
   /*social icon */
    .social-icon-menu
    {
    margin-left:0;
    }

    .social-icon-menu img
    {
    width:50px;
    height:50px;
    margin:0 auto;
    padding:15px;
    }
    .menu-name
    {
    font-size:30px;
     margin:10px;
    }
    .links
    {
    top:10%;
    margin:0px;

    }
    .links a
    {
    font-size:20px;
    margin:20px;
    }

    
}


@media only screen and (min-width: 600px)
 {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

/*social icon */
    .social-icon img
    {
    width:50px;
    height:50px;
    margin:0 auto;
    padding:15px;
    }

/*text-home*/
    .text-home-1
     {
    font-size:15px;
    margin-bottom:25px;

     }

     .text-home-2
    {
    font-size:25px;
    }


   /*about*/
   .about
   {
    margin:0 auto;
    width: 80%;
   }
   .title-about
   {
        font-size:24px;

    }

   .text-about
   {
       font-size:16px; 
   }

      /*service*/
    .service
    {
    height: 400px; 
    }
    .div-service
    {
    PADDING:30PX;
    }
    /*text-service*/
    .title-service
    {
    font-size:24px;
    width:30%;
    }
    .text-service
    {
    font-size:16px;
    }

   /*work*/
   .btn-work-row button
   {
   width:100px;
   font-size:12px;
   }

      .title-work
    {
        font-size:20px;
        width:30%;


    }


   /*menu*/
   /*social icon */
    .social-icon-menu
    {
    margin-left:25%;
    }
    .social-icon-menu img
    {
    width:50px;
    height:50px;
    margin:0 auto;
    padding:15px;
    }

    .menu-name
    {
    font-size:40px;
     margin-top:20px;
    }
    .links
    {
    top:30%;
    margin-top:30px;
    }

    .links a
    {
    font-size:22px;
    }
}

@media only screen and (min-width: 900px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

/*social icon */

    .social-icon img
{
    width:60px;
    height:60px;
    margin:0 auto;
    padding:15px;
}


/*text-home*/
.text-home-1
{
    font-size:30px;
    margin-bottom:30px;

}

.text-home-2
{
    font-size:42px;
    margin-bottom:30px;

}

/*about*/
.about
{
    margin:0 auto;
    width: 60%;
}
.title-about
{
        font-size:30px;

}

.text-about
{
       font-size:20px; 
}

    /*text-service*/

    .div-service
    {
    PADDING:30PX;
    }
    .service
    {
    height: 450px; 
    }    
    .title-service
    {
    font-size:30px;
    width:25%;
    }
    .text-service
    {
    font-size:20px;
    }

       /*work*/
   .btn-work-row button
   {
   width:150px;
   font-size:16px;
   }

      .title-work
    {
        font-size:30px;
        width:30%;


    }

   /*menu*/
   /*social icon */
    .social-icon-menu
    {
    margin-left:33.33%;
    }
    .social-icon-menu img
    {
    width:60px;
    height:60px;
    margin:0 auto;
    padding:15px;
    }

    .menu-name
    {
    font-size:40px;
     margin-top:20px;
    }
    .links
    {
    top:40%;
    margin:0px;
    }
    .links a
    {
    font-size:30px;
    }
}
